.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.18) -1px 5px 5px;
  position: absolute;

  left: 12px;
  top: 19px;

}

.messageTop {
  display: flex;
  position: relative;
}

.messageText {
  padding: 10px;
  border-radius: 20px;
  background-color: #1877f2;
  color: white;
  max-width: 300px;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;

  margin-left: 28px;
  padding-right: 14px;
  padding-left: 15px;
}

.messageBottom {
  font-size: 11px;
  /* margin-top: 10px; */
  color: rgba(255, 255, 255, 0.3);
  margin-left: 45px;
  margin-top: 5px;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: lightgray;
  color: black;
}

.own .messageTop
{
}



.own .messageTop .messageImg
{
  left: auto;
  right: 0px;
}

.own .messageTop .messageText
{
  margin-left: auto;
  margin-right: 28px;
  padding-right: 15px;
  padding-left: 14px;

}

.own .messageBottom
{
  margin-right: 45px;
  margin-left: 0px;
}

