.leaderboardUser
{
    display: inline-flex;
    color: white;
    font-family: PlayPretend;
    width: 100%;
    transition: all 0.2s ease;
}

.ownLeader
{
    background: rgb(211 196 213 / 9%);
}

.leaderboardUser:hover
{
    background: rgba(0, 0, 0, 0.14);
}

.ownLeader:hover
{
    background: rgba(211 196 213 / 12%);
}

.leaderboardPic
{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.levelProfile
{
    width: 66px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.14);
    line-height: 60px;
    text-align: center;
}

.leaderboardRow
{
    background: rgba(0, 0, 0, 0.2);
    padding: 14px;
}

.leaderboardName
{
    flex:1;
    background: rgba(0, 0, 0, 0.14);
    font-size: 22px;
    padding-top: 29px;
    padding-left: 20px;
}