
.messenger {
  display: flex;
  background: white;
  width: 100%;
  height: 100%;
}

.chatMenu {
  flex: 3.5;
  padding: 14px;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.chatBox {
  flex: 5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
  border-radius: 20px;
}

.chatSubmitButton,
.convSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1877f2;
  color: white;
}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper {
  height: 100%;
}

.chatBoxWrapper {
  height: 100%;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 25px;
  color: rgb(224, 220, 220);
  cursor: default;
}
.chatMenuWrapper {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.chatMenuTop {
  /* position: relative;
  flex: 3.5; */
  /* background-color: red; */
}

.chatMenuBottom {
  border-top: 1px solid gray;
  height: 330px;
  /* margin-top: 10px; */
  /* background-color: blue; */
  /* display: flex;
  flex-direction: colums; */
}

.conversationType {
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1877f2;
  color: white;
}

.convPassword,
.conversationNameBox,
.convDm {
  margin-top: 10px;
}

.chatMenuBottom input {
  width: 154px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
}

.chatMenuBottomLeft {
  width: 80%;
}
.convSubmitButton {
}

.chatNewWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMenuTop {
  overflow-y: scroll;
  height: 100%;
}

.chatMenuMiddle {
  overflow-y: scroll;
  border-top: 1px solid gray;
  height: 100%;
}

.chatOnlineWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.chatOnlineTopWrapper {
  padding: 10px;
  height: 100%;
}

.buttonOnlineTopWrapper {
  width: 100%;
  text-align: center;
}

.chatOnlineBottom {
  border-top: 1px solid gray;
  padding-left: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.chatOnlineBottom input {
  width: 71px;
  height: 26.5px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 5px;
  margin-right: 5px;
  text-align: center;
}

.chatOnlineBottomButton {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1877f2;
  color: white;
  margin: 5px;
}

.contentBox button {
  width: 107px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1877f2;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.chatOnlineBottom p {
  margin-bottom: 3px;
  text-align: center;
}

.contentBox button {
  width: 73px;
}

.editPassword {
  margin-top: 5px;
}

.noUserText {
  font-size: 25px;
  color: rgb(224, 220, 220);
  cursor: default;
  text-align: center;
  height: 120px;
}
