body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Bellow, Stuff I Added, don't remove. Above it is the template, you can remove or edit*/

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header ul,
.site-header li {
  display: inline;
  margin: 1rem;
  text-align: center;
}

.site-header ul a {
  text-decoration: none;
}

.homeButton {
  text-decoration: none;
  margin-left: 1rem;
}

.homeButton img {
  height: 50px;
}

.profilepic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  position: relative;
  right: 5px;
}

.profilepage {
  width: 100px;
  height: 100px;
  border-radius: 5%;
  vertical-align: middle;
  position: relative;
  margin-left: 1rem;
  right: 5px;
}

.logButton {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1877f2;
  color: white;
}

.largeButton {
  width: 140px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1877f2;
  color: white;
}

.landingPage {
  margin-top: 100px;
  text-align: center;
  vertical-align: middle;
}

.landingPage a {
  text-decoration: none;
}

.userProfile {
  text-align: center;
}

.userProfile button {
  margin: 10px;
}

/* ---------- GAME ---------- */

/* put in black for final version */
.gameWrapper {
  /* background-color: red; */
}

.game {
}

.gameTopBar {
  height: 72px;
  display: flex;
  /* background-color: rgb(220, 220, 220); */
  /* background-color: blue; */
  justify-content: space-between;
}

.gameTopBar p {
  align-self: center;
  margin: 30px;
}
/* User profile  */
.userPageWrapper {
  /* background-color: yellow; */
  margin-block-start: 0;
  margin-block-end: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 1fr;

  position: fixed;
  text-decoration: none;
}

.userList {
  margin-left: 10px;
  text-align: left;
  /* background-color: red; */
  display: flex;
  grid-column: span 1;
  text-decoration: none;
}

.userDescription {
  margin-left: 10px;
  text-align: left;
  /* background-color: blue; */
  grid-column: span 1;
}

.actionButton {
  margin-left: 10px;

  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #999999;
  color: white;
  grid-column: span 1;
}

.miniUser {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 35px 35px;
}

.miniUserLink {
  grid-column: span 1;
}
