body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Bellow, Stuff I Added, don't remove. Above it is the template, you can remove or edit*/

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('./pages/assets/paralax/0.png');
  background-position: top;
  background-size: cover;
  height: 100px;
}

.site-header ul,
.site-header li {
  display: inline;
  margin: 1rem;
  text-align: center;
}

.site-header ul a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.homeButton {
  text-decoration: none;
  margin-left: 1rem;
}

.homeButton img {
  height: 45px;
  padding-left: 10px;
  transition: all 0.1s ease;
}

.homeButton img:hover {
  transform: scale(1.05);
}

.profilepic {
  width: 40px;
  height: 40px;
  border-radius: 15%;
  vertical-align: middle;
  position: relative;
  right: 5px;
}

.imgContainer
{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.profilepage {
  width: 100px;
  height: 100px;
  border-radius: 14px;
  vertical-align: middle;
  box-shadow: #00000026 0px 7px 17px 2px;
}

.logButton {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1877f2;
  color: white;
}

.largeButton {
  width: 140px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1877f2;
  color: white;
}

.landingPage {
  text-align: center;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.69);
  color: white;
  height: 100vh;
}

.landingPage img {
  margin-top: 100px;
}

.landingPage a {
  text-decoration: none;
}

.userProfile {
  text-align: center;
}

.userProfile button {
  margin: 10px;
}

/* ---------- GAME ---------- */

/* put in black for final version */
.gameWrapper {
  /* background-color: red; */
}

.game {
}

.gameTopBar {
  height: 72px;
  display: flex;
  /* background-color: rgb(220, 220, 220); */
  /* background-color: blue; */
  justify-content: space-between;
}

.gameTopBar p {
  align-self: center;
  margin: 30px;
}
/* User profile  */
.userPageWrapper {
  /* background-color: yellow; */
  margin-block-start: 0;
  margin-block-end: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 1fr;
  text-decoration: none;
  padding: 20px;
}

.userList {
  margin-left: 10px;
  text-align: left;
  /* background-color: red; */
  display: flex;
  grid-column: span 1;
  text-decoration: none;
}

.userDescription {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  /* background-color: blue; */
  grid-column: span 1;
}

.actionButton {
  margin-left: 10px;

  width: 30px;
  height: 30px;
  border: none;
  border-radius: 15%;
  cursor: pointer;
  background-color: #999999;
  color: white;
  grid-column: span 1;
}

.miniUser {
  width: 240px;
  display: grid;
  grid-template-columns: 1fr 32px 32px;
}

.miniUserLink {
  grid-column: span 1;
}

.miniUserLink a
{
  padding-top: 20px;
}

.puceverte {
  position: relative;
}

.puceverte::before {
  content: ' ';
  width: 10px;
  height: 10px;
  background-color: rgb(0, 255, 0);
  border-radius: 30%;
  position: absolute;
  z-index: 99;
  margin-left: 28px;
  margin-top: 34px;
}

.profileHeader h2
{
  display: inline-block;
}

.profileHeader button
{
  width: 100px;
  float: right;
  display: inline-block;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.77);
}

.coolP
{
  background: #0000000a;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;

  border-radius: 7px;
}
.leaderboardMiniature {
  display: grid;
  grid-template-columns: 1fr 60px 40px 150px 1fr;
}

.leaderboardMiniature:hover
{
  background: rgba(0, 0, 0, 0.107);
}

.leaderboardMiniature > div {
  background: transparent;
  margin: 10px;
  font-size: large;
  margin-left: 10px;
  line-height: 36px;
  vertical-align: middle;
}

.createButton
{
  background: white;
  border: none;
  padding: 16px;
  font-size: 17px;
  font-weight: bold;
  color: #543454;
  border-radius: 14px;
  width: 200px;
  margin: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.createButton:hover
{
  transform: scale(1.07);
}