body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Bellow, Stuff I Added, don't remove. Above it is the template, you can remove or edit*/

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('./pages/assets/paralax/0.png');
  background-position: top;
  background-size: cover;
  height: 100px;
}

.site-header ul,
.site-header li {
  display: inline;
  margin: 1rem;
  text-align: center;
}

.site-header ul a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.homeButton {
  text-decoration: none;
  margin-left: 1rem;
}

.homeButton img {
  height: 45px;
  padding-left: 10px;
  transition: all 0.1s ease;
}

.homeButton img:hover {
  transform: scale(1.05);
}

.profilepic {
  width: 40px;
  height: 40px;
  border-radius: 15%;
  vertical-align: middle;
}

.imgContainer
{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.profilepage {
  width: 100px;
  height: 100px;
  border-radius: 14px;
  vertical-align: middle;
  box-shadow: #00000026 0px 7px 17px 2px;
}

.logButton {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1877f2;
  color: white;
}

.largeButton {
  width: 140px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1877f2;
  color: white;
}

.landingPage {
  text-align: center;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.69);
  color: white;
  height: 100vh;
}

.landingPage img {
  margin-top: 100px;
}

.landingPage a {
  text-decoration: none;
}

.userProfile {
  text-align: center;
}

.userProfile button {
  margin: 10px;
}

/* ---------- GAME ---------- */

/* put in black for final version */
.gameWrapper {
  /* background-color: red; */
}

.game {
}

.gameTopBar {
  height: 72px;
  display: flex;
  /* background-color: rgb(220, 220, 220); */
  /* background-color: blue; */
  justify-content: space-between;
}

.gameTopBar p {
  align-self: center;
  margin: 30px;
}
/* User profile  */
.userPageWrapper {
  /* background-color: yellow; */
  margin-block-start: 0;
  margin-block-end: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 1fr;
  text-decoration: none;
  padding: 20px;
}

.userList {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  /* background-color: red; */
  display: flex;
  grid-column: span 1;
  text-decoration: none;
}

.userDescription {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  /* background-color: blue; */
  grid-column: span 1;
}

.actionButton {

  width: 30px;
  height: 30px;
  border: none;
  border-radius: 15%;
  cursor: pointer;
  background-color: #999999;
  color: white;
  margin: 2px;
  margin-top: 5px;
  transition: all 0.2s ease;
}

.miniUser {
  display: flex;
  padding: 10px;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  margin-top: 5px;
  transition: all 0.2s ease;
}

.miniUser:hover
{
  background: rgba(0, 0, 0, 0.07);
}

.actionButton:hover
{
  opacity: 0.7;
}

.userList > div
{
  width: 100%;
}

.miniUserLink {
  flex: 1;
}

.miniUserLink a
{
  display: block;
}

.puceverte {
  position: relative;
}

.puceverte::before {
  content: ' ';
  width: 10px;
  height: 10px;
  background-color: rgb(0, 255, 0);
  border-radius: 30%;
  position: absolute;
  z-index: 99;
  right: -3px;
  bottom: -2px;
  box-shadow: #1693068f 0 0 11px 3px;
}

.profileHeader h2
{
  display: inline-block;
}

.profileHeader button
{
  width: 100px;
  float: right;
  display: inline-block;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.77);
}

.coolP
{
  background: #0000000a;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;

  border-radius: 7px;
}
.leaderboardMiniature {
  display: inline-flex;
}

.leaderboardMiniature:hover
{
  background: rgba(0, 0, 0, 0.107);
}

.leaderboardMiniature > div {
  padding: 10px;
  font-size: large;
  line-height: 36px;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.09);
}

.leaderboardMiniature

.leaderboardMiniature .div:nth-child(2n)
{
  background: white;
}

.createButton
{
  background: white;
  border: none;
  padding: 16px;
  font-size: 17px;
  font-weight: bold;
  color: #543454;
  border-radius: 14px;
  width: 200px;
  margin: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.createButton:hover
{
  transform: scale(1.07);
}

@font-face {
  font-family: PlayPretend;
  src: url("./pages/assets/PlayPretend.otf") format("opentype");
}

.topScorer
{
  font-family: PlayPretend;
  color: white;
  margin: 35px;
}

.toptop
{
  display: inline-block;
}

.toptop h1
{
  font-size: 70px;
  margin: 0;
  animation-duration: 1s;
  animation-name: toptop;
  animation-timing-function: cubic-bezier(.34,1.63,.35,.99);
  width: 90px;
}

@keyframes toptop {
  0% {
    transform: scale(2) rotateZ(40deg);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.toptop h2
{
  font-size: 30px;
  margin: 0;
  animation-timing-function: ease;
  animation-name: movein;
  animation-duration: 0.5s;
}

@keyframes movein {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.topImg
{
  width: 120px;
  height: 120px;
  background: white;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  margin-right: 30px;
}

.blocking
{
  text-align: center;
  padding: 14px;
}

.picctn
{
  display: inline-block;
  margin-right: 14px;
}

.miniUsername
{
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  color: #101010;
}

.matchInfo
{
  padding: 20px;
  background: rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: all 0.2s ease;
}

.matchInfo:hover
{
  background: rgba(0, 0, 0, 0.2);
}

.matchInfo > *
{
  display: inline-block;
  vertical-align: top;
  color: white;
  text-decoration: none;
  font-family: PlayPretend;
}

.matchInfo img
{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 14px;
  box-shadow: #00000040 1px 5px 14px;
}

.vsText
{
  font-size: 25px;
  margin-top: 3px;
  margin-left: 14px;
}

.vsText > div
{
  display: inline-block;
  opacity: 0.5;
  font-size: 1.4em;
}